body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    background-image: url('/images/login.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: rgba(33, 33, 33, 0.208);
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, 0.238); 
    z-index: -1; 
}


.dok {
    margin-top: 7%;
    font-family: 'Work Sans', sans-serif;
    font-size: 110px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.27));
    animation: float 3s infinite ease-in-out, fadeIn 1.5s ease-in-out, glow 1.5s infinite alternate;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.bejelentkezes {
    width: 450px;
    padding: 10px;
    padding-top: 156px;
    box-sizing: border-box; 
    text-align: center; 
}

.mező {
    padding: 20px 0px;
    position: relative;
}

.input {
    font-size: 14pt;
    border: none;
    border-bottom: 1.5px solid rgb(255, 255, 255);
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
    color: #ffffff; 
}

.input::placeholder {
    font-size: 14px;
    color: #ffffff;  
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
    font-size: 14pt;
    color: white;
}

.input:active,
.input:focus,
.input:hover {
    outline: none;
}


.gomb {
    display: block;           /* blokkszintű, így lehet középre igazítani */
    margin: 20px auto 0 auto; /* felül 20px, vízszintesen középre */
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #222121;
    border: 2px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
    position: relative; 
    overflow: hidden;
    transition: all 0.6s ease;
}

.gomb::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transform: skewX(-45deg);
    transition: all 1s ease;
}

.gomb:hover::before {
    left: 100%;
}

.gomb:hover {
    background-color: #2a2a2a;
    color: #000000;
    transform: scale(1.05);
}

.gomb:active {
    transform: scale(0.95);
    background-color: #000000;
}



@media (max-width: 768px) {
    .dok {
        margin-top: 11%;
        font-family: 'Work Sans', sans-serif;
        font-size: 90px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        color: whitesmoke;
        filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.27));
        animation: float 3s infinite ease-in-out, fadeIn 1.5s ease-in-out, glow 1.5s infinite alternate;
    }
}

